
/*	----------------
	variables
	----------------*/

$primary_color: #63c6ae;
$secondary_color: #ffffff;

/*	----------------
	global
	----------------*/

ul {
	list-style: none;
}

/*	----------------
	fonts
	----------------*/

/*	----------------
	layout 
	----------------*/

.layout-center-wrap {
	width: 1180px;
	margin: 0 auto;
	background-color: red;
}

/*	----------------
	header
	----------------*/

header {
	padding: 26px 0;
	background-color: $primary_color;

	div.logo {
		float: left;
	}

	nav {
		float: right;
	}
}

/*	----------------
	clearfix
	----------------*/

.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

* html .group {
    /* IE6 */
    zoom: 1;
}

*:first-child + html .group {
    /* IE7 */
    zoom: 1;
}